Container for the login card
.login_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 19rem; /* Define a fixed width for the card */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: rgba(237, 235, 235, 0.925);
    text-align: center;
    margin:  auto; /* Center the card horizontally */
    border: 1px solid rgb(181, 179, 179);
}

/* Heading for the login card */
.login_card h1 {
    font-size: 2.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

/* Styling for the Google login button */
#login_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    /* font-weight: bold; */
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 95%;
    height: 2.8rem;
}

#sign_up{
    font-size: 0.7rem;
    font-weight: 550;
}

/* Hover effect for Google login button */
#login_button:hover {
    background-color: #e9ecef; /* Darker blue on hover */
}

.g_divider
{
    font-weight: 900;
}


/* Styling for the Google icon in the button */
#gicon_image {
    height: 20px;
    width: 20px;
}

/* Styling for the 'OR' separator text */
#or {
    font-size: 1rem;
    color: #666;
    margin: 1rem 0;
    font-weight: 600;
    position: relative;
}

#or::before,
#or::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40px;
    height: 1px;
    background-color: #bbb9b9;
}

#or::before {
    left: -50px;
}

#or::after {
    right: -50px;
}

/* Styling for the guest button */
#guest_button {
    padding: 0.8rem 1.5rem;
    border: 1px solid grey;
    font-size: 0.7rem;
    font-weight:550;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 95%; /* Full-width button */
}

/* Hover effect for the guest button */
#guest_button:hover {
    background-color:#e9ecef;;
}
